---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/api.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 66f0dfe2fa3f0457c8228312c5d5dd4b
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - app_mentions:read,chat:write,chat:write.public,channels:history,groups:history,im:history,team:read
      X-Slack-Unique-Id:
      - aiiCzf3LA8TAsKyV881dxgAAEDc
      X-Backend:
      - api_normal
      X-Server:
      - slack-www-hhvm-api-iad-cswhm32spir6
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"args":{"token":"<SLACK_TOKEN>"}}'
  recorded_at: Tue, 09 Jun 2026 21:17:01 GMT
recorded_with: VCR 6.4.0
