---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SLACK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - dee7609c2ac4a1b221b92072e1d1d128
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - app_mentions:read,chat:write,chat:write.public,channels:history,groups:history,im:history,team:read
      X-Slack-Unique-Id:
      - aiiCzsorfvxTNTAm1XwbegAAACw
      X-Backend:
      - api_normal
      X-Server:
      - slack-www-hhvm-api-iad-8tje6kqg8wkb
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"url":"https:\/\/anywaye.slack.com\/","team":"Anywaye","user":"anywaye","team_id":"T09SL065DEW","user_id":"U0B496AF1Q8","bot_id":"B0B3CR6UUNS","is_enterprise_install":false}'
  recorded_at: Tue, 09 Jun 2026 21:17:02 GMT
recorded_with: VCR 6.4.0
